<div class="container">

    <%= link_to "Create New Project", new_project_path %>
  <% if !@past_due_projects.empty? %>
    <%= render partial: "past_due_projects", locals: {past_due_projects: @past_due_projects} %>
  <% end %>

  <% if !@individual_projects.empty? %>
    <%= render partial: "home_projects_index_table", locals: {projects: @individual_projects} %>
  <% end %>
  <% if !@group_projects.empty? %>
    <%= render partial: "home_projects_index_table", locals: {projects: @group_projects} %>
  <% end %>

</div>
