<div id="sidebar">
  <%= render partial: "projects_sidebar", locals: {group_projects: @group_projects, individual_projects: @individual_projects} %>
<%= link_to 'Create a new project', new_project_path %><br>
</div>
