
  <div id="main_content" >
    <h4>RETHINK YOUR COLLABORATION AT WORK</h4>
    <h1>PLAN.COLLABORATE.SUCCEED</h1>

    <a href="/register/sign_up"><button type="button" class="btn btn-outline-light btn-lg">Sign Up</button></a>


      <a href="/login"><button type="button" class="btn btn-outline-light btn-lg">Log In</button></a>
  </div>

  </div>
