<div id="welcome_page">
  <div class="container"id="headline" >
    <div class="row">
      <div class="col-centered">

        <h4>RETHINK YOUR COLLABORATION AT WORK</h4>

        <h1>PLAN.COLLABORATE.SUCCEED</h1>


         <button type="button" class="btn btn-outline-light btn-lg"> <%= link_to 'Sign Up', new_user_registration_path %></button>

      </div>
    </div>
  </div>
</div>
