<div class="list-group" >
  Individual Projects
  <% individual_projects.each do |project| %>
    <%= link_to(project.name, project_path(project), class:"list-group-item list-group-item-action") %>
  <%end %>
  Group Projects
  <% group_projects.each do |project| %>
    <%= link_to(project.name, project_path(project), class:"list-group-item list-group-item-action") %>
  <%end %>
</div>
